body {
    background-color: #000;
    color: white;
    font-family: sans-serif;
    margin: 0;
}
.navbar {
    padding: 20px;
    background: #111;
    border-bottom: 2px solid red;
    text-align: center;
}
.logo { font-size: 24px; font-weight: bold; letter-spacing: 2px; }
.logo span { color: red; }

.hero { padding: 20px; text-align: center; }
.hero h2 { color: red; }

.video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.video-card {
    background: #111;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #333;
}
iframe {
    width: 100%;
    height: 250px;
}
.video-info { padding: 15px; }
.video-info h3 { margin: 0; font-size: 16px; }
.video-info p { color: red; font-size: 12px; margin-top: 5px; }
